<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="JsonToggler" type="JsonToggler.JsonTogglerSection, JsonToggler" />
  </configSections>
  <JsonToggler Environment="Dev" JsonDirectory="../../Json" IsTestMode="false" Platform="Web" />

  <connectionStrings>
    <add name="TestDataContext" connectionString="Initial Catalog=TestDatabase;Data Source=localhost;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>